*{
font-family: Fira Sans;
    margin: 0;
    padding: 0;
    }

    body{
        background: rgb(232, 238, 236);

    }

.top{
min-height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.title{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-left: 160px;
}

.btn1{
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;
text-decoration: none;
margin-right: 160px ;
   }

.btn1:hover{
    background-color: rgb(0, 106, 80);
    color:white;
}

.banner{
    display: flex;
    background-color: rgb(198, 228, 214);
    min-height: 560px; 
    margin: 0px 160px 80px;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Btxt{
    padding-left: 60PX;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 60px;

width: 40%;

}

#bt1{
color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

#bt2{
    color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
text-align: left;
margin-bottom: 24px;
}

#bt3{
    width: 270px ;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    text-align: center;
    padding:17px 34px;

}


.bannerImg{
    padding-top: 50px;
    padding-bottom: 50px;
padding-right: 60px;
padding-left: 60px;
} 

/* vision css start */

.article1{
    margin: 0px 160px 32px;
}

#title2{
    color: rgb(14, 14, 14);
    font-size: 40px;
    margin-bottom: 24px;
}

#content2{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

.vs{       
    display: flex;
    margin: 0px 160px;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 48px;
}

.vision {
    background-color: #000000;
    border-radius: 16px;
    text-align: left;
    padding: 32px;
    max-width: 410px;
}

/* box background clrs */
#vision1 {
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}
#vision2 {
    border-radius: 16px;
background-color: rgb(198, 228, 214);
}
#vision3 {
    border-radius: 16px;
background-color: rgb(247, 235, 207); 
}

/* inside box */
.vision img {
    width: 50px;
    margin-bottom: 25px;
}

.vision h4 {
    color: #333;
    font-size: 20px;
    margin-bottom: 12px;
}

.vision p {
    font-size: 16px;
    margin-bottom: 48px;
}

.buttonV {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
/* Learnmore buttons */
#vision1 .buttonV {
    border-radius: 8px;
background-color: rgb(84, 144, 245);
}

#vision2 .buttonV {
    border-radius: 8px;
background-color: rgb(9, 161, 92);
}

#vision3 .buttonV {
    border-radius: 8px;
background-color: rgb(255, 194, 57);
}


#vision1 .buttonV:hover {
    color: rgb(84, 144, 245);
    background-color: #fff;
}
#vision2 .buttonV:hover {
    color: rgb(9, 161, 92);
    background-color: #fff;
}
#vision3 .buttonV:hover {
    color: rgb(255, 194, 57);
    background-color: #fff;
}

/* news */
.news{
    margin: 0px 160px;
    background-color: white;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 24px;
    border-radius: 24px;
}


.news h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    margin-bottom: 12px;
}

.nsDetails img{
    min-height: 40px;
    margin-bottom: 12px;
}

.DateTime{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content:flex-start;
    gap: 12px;
    margin-bottom: 12px;
}

.news p{
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
}
.news a{
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    padding: 13px 26px;
}

.news a:hover{
    background-color: rgb(190, 255, 174);
    color: rgb(0, 106, 80);
}

.nsImg img{
border-radius: 24px;
}

/* donate */
.donate{
    margin: 80px 160px 0px;
}

.donate h1{
    font-size: 40px;
font-weight: 700;
text-align: center;
margin-bottom: 24px;
}

.donate p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-bottom:32px ;
}

.amount{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.amount button{
    padding: 40px;
    background-color: white;
    text-align: center;
    border: none;

font-size: 40px;
font-weight: 700;
border-radius: 16px;
}

.amount .tk200{
    background-color: rgb(198, 228, 214);
}

.amount button:hover{
    background-color: rgb(198, 228, 214);
border: 2px solid green;
}

.otherTk{
    margin-top: 32px;
    display:flex;
    /* max-width: 1032px; */
    align-items: center;
}














